<ion-view view-title="Chats">
  <form-content>
    <div class="list">
      <a class="item item-avatar">
        <img>
        <h2>{{chat.user}}</h2>
        <p>{{chat.message}}</p>
      </a>
      
    </div>
    <form>
      <div class="list">
        <div class="item item-input-insert">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Mensaje" ng-nodel="chat.message"></input>
          </label>
          <button class="button button-positive ion ion-ios7-chatbubble" ng-click="sendChat(chat)"></button>
        </div>
      </div>
    </form>
  </form-content>
</ion-view>
